<?xml version="1.0"?>

<model>
	<name>desktop</name>
	<version>1.0</version>
	<sdf version="1.5">desktop.sdf</sdf>
	
	<author>
		<name>Parthan</name>
		<email>spartan@gmail.com</email>
	</author>
	
	<description>
		Just a desktop table for your disposal from 3D Warehouse
		https://3dwarehouse.sketchup.com/model/a4b47801282e02371f98c0761af40e04/WSFree-StandingAllWays004
	</description>
</model>
